body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
  height: 200px;
  display: flex;
  justify-content: center;
}

.searchBox {
	align-self: center;
	height: 45px;
	border-radius: 8px;
	border: 1px solid #a6a6a6;
	width: 35%;
	min-width: 200px;
	font-size: 22px;
	color: #bebebe;
	font-weight: 300;
	padding-left: 16px;
}

.searchBox:focus {
	outline: none;
}

.searchBox::placeholder {
	font-size: 26px;
	color: #bebebe;
	font-weight: 300;
}

.board {
	background-color: #f9f9f9;
	display: flex;
	flex-wrap: wrap;
}

.squareContainer {
	height: 250px;
	width: 400px;
	border-radius: 8px;
	padding: 10px;
}

.squareContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 8px;
}